dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

dt {
  float: left;
  padding: 0;
  margin: 5px 10px 2px 0;
  min-width: 30px;
  clear: left;
}

dd {
  float: left;
  padding: 0;
  margin: 5px 10px 2px 0;
  font-weight: 700;
  font-family: mono;
}

#logo {
  position: absolute;
  top: 16px;
  right: 16px;
  margin: 0;
  padding: 5px 6px 5px 6px;
  font-weight: 700;
  font-size: 18px;
  z-index: 100;
  background: #ffffffab;
}

.section {
  margin-top: 10px;
  margin-bottom: 30px;
}

.summary, #stats, #input, .datahead {
  margin-left: 10px;
}

#input {
  font-weight: 300;
  margin-top: 9px;
}

#input, #stop {
  font-size: 12px;
  float: right;
  margin-top: 6px;
}

#progress {
  background: #00a9ff;
  position: fixed;
  top: 0;
  left: 0;
  height: 3px;
}

#output h2 {
  font-size: 42px;
  font-weight: 700;
}

.block {
  display: inline-block;
  margin: 25px 10px;
  padding: 10px 18px 18px 18px;
  box-shadow: 0 10px 30px #97979736;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.block:hover {
  box-shadow: 0 10px 30px #97979756;
}

.block .name-block {
  margin-left: 8px;
  width: 100%;
}

.block .variable-type {
  margin: 17px 10px 5px;
  padding: 4px 11px;
  font-size: 12px;
  font-weight: 400;
  background-color:#EEE;
  display: inline-block;
  border-radius: 30px;
}

.block h4 {
  margin: 15px 0 5px;
  font-size: 20px;
}

.block .name-block h4 {
  float: left;
  font-size: 24px;
  font-weight: 500;
}

.block .stat-block {
  width: 180px;
  margin-left: 8px;
}

.block .stat-block h4 {
  font-weight: 300;
}

.block .count-chart, .block .hist-chart {
  padding: 5px;
}

.datahead {
  overflow: auto;
}

.datahead .title {
  margin: 10px 0 10px;
}

.datahead table {
  font-size: 14px;
  border-collapse: collapse;
  border: none;
}

.datahead table tr {
  border-bottom: 1px solid #E7E7E7;
}

.datahead table tr:nth-child(1) {
  border-top: 2px solid #00a9ff;
}

.datahead table tr:nth-child(odd) {
  background: #F3F3F3;
}

.datahead table td, .datahead table th {
  padding: 4px 8px;
}

#drag {
  text-align: center;
  padding: 30px 40px;
  margin: 50px auto 50px auto;
  border: 2px dashed #a0cbff;
  border-radius: 10px;
  width: 50%;
}

#drag .drag-icon {
  font-family: sans-serif;
  font-size: 50px;
  color: #00a9ff;
}

#drag .drag-text h4 {
  font-size: 22px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
}

#drag .drag-text p {
  font-size: 12px;
}
