body {
  font-family: sans-serif;
  font-weight: 300;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

dt {
  float: left;
  padding: 0;
  margin: 2px 10px 2px 0;
  clear: left;
}

dd {
  float: left;
  padding: 0;
  margin: 2px 10px 2px 0;
  font-weight: 500;
}

.section {
  margin-top: 10px;
  margin-bottom: 30px;
}

#progress {
  background: #0072FF;
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
}

.block {
  width: 27%;
  display: inline-block;
  margin: 10px;
  padding: 2px 15px 10px 15px;
  box-shadow: 0 0 20px #E3E3E3;
}

.block dt {
  width: 70px;
}

.block h4 {
  margin: 12px 0;
  font-weight: 300;
}
